.footer{
	margin: 0px 0px 0px 0px;
	padding: 15px;
	height:250px;
	width: 1349px;
	background: #dff9fb;
	line-height: 21px
}

#picture_chibi1{
	position: absolute;
	bottom:-1295px;
	left:800px;
}

#picture_chibi2{
	position: absolute;
	bottom:-1295px;
	left:1050px;
}
